@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: raleway;
}
:root {
  --gray: #828383;
  --light-gray: #f6f6f6;
  --white: #ffffff;
}
.container {
  height: 100vh;
  padding: 1.5rem 2.5em;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 1rem;
}
#DC {
  color: blue;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0 0.3rem;
}
#searchbar {
  border-radius: 5rem;
  border: 1px solid var(--gray);
  width: 22rem;
  padding: 0.7rem 1rem;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  padding: 0.7rem 1rem;
  cursor: pointer;
  color: var(--gray);
  text-decoration: none;
  &:hover {
    background-color: var(--light-gray);
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
    display: flex;

    justify-content: space-around;
  height: 14rem;
  background: linear-gradient(to right, rgb(131, 109, 255), rgb(75, 147, 255));;
  width: 21.5rem;
  border-radius: 1rem;
}
.card img {
    height: 14rem;
    width: 12rem;
  }
  .names
  {
    text-align: right;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--white);
  }
  .character-name
  {
    font-size: 1.5rem;
    font-weight: 700;
  }
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--gray);
  color: var(--gray);
  padding-top: 1rem;
}
footer a
{
  
  color: var(--gray);
  text-decoration: none;
}
.socials {
  display: flex;
}
.social {
  padding: 1rem;
  cursor: pointer;
  &:hover {
  text-decoration: underline;
  }
}
.prev {
  width: 6rem;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  &:hover {
    background-color: var(--light-gray);
  }
}
.next {
  width: 6rem;
  text-align: center;
  cursor: pointer;

  padding: 1rem;
  &:hover {
    background-color: var(--light-gray);
  }
}

@media screen and (max-width: 650px) {

  .navbar {
    flex-direction: column;
  }
  .links a
  {
padding: 0.5rem;
  }
 .card-container 
 {
  flex-direction: column;
 }
 .card
 {
  width: 90vw;
 }
 .card
 {
  margin: 1rem 0;
 }
 .socials
 {
  flex-direction: column;
 }
}
